h2 {
    color: red;
    background-color: rgb(110,12,18);
    text-align: center;
    width: 50;
    font-weight: lighter;
    text-decoration: underline wavy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    color: gold;
    background-color: black;
}

p{
    color: olive;
    background: blue;
    text-decoration-style: #f78120 underline wavy;
}